<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container-fluid">

    <h1 th:text="${title}"></h1>

    <p><a href="/createItem">Add Item</a></p>

    <form method="post" action="/addItemsToCart">

        <div th:each="item : ${items}" class="form-group">
            <input type="checkbox" name="ids" th:value="${item.uid}" th:id="${item.uid}" onclick="btnOn(this)"/>
            <label th:for="${item.uid}" th:text="${item.name}+' $'+${item.price}"></label>
        </div>

        <button disabled="false">Add to Cart</button>
    </form>

</div>
</body>

<script th:replace="fragments :: btnOn"></script>

</html>
