<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container-fluid">

    <h1>Cart Inventory</h1>
    <br/>

    <form method="post" action="/removeItemsFromCart">

        <div th:each="item : ${cart.items}" class="form-group">
            <input type="checkbox" name="ids" th:value="${item.uid}" th:id="${item.uid}" onclick="btnOn(this)"/>
            <label th:for="${item.uid}" th:text="${item.name}"></label>
        </div>

        <button disabled="">Remove From Cart</button>
    </form>

    <br/>
    <p><strong>Current Cart Total: </strong><span th:text="${cart.computeTotal()}"></span></p>
</div>



<script th:replace="fragments :: btnOn"></script>
</body>

</html>